<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Good day, <%= @user.name %></h1>
    <p>
      We would like to inform you that your application to establish the restaurant, <%= @restaurant.name %>, has been accepted. You should be able to see your restaurant in the listing now.  <br>
    </p>
    <p>Thank you and have a good day!</p>
  </body>
</html>