<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Good day, <%= @user.name %></h1>
    <p>
      We would like to inform you that your application to establish the restaurant, <%= @restaurant.name %>, has been rejected due to: <br><%= @notification.message %>  <br>
    </p>
    <p>Thank you for understanding!</p>
  </body>
</html>