<div id="make_a_resto" class="">
  <div class="jumbotron" style="color: #fff; background-image: url('<%= asset_path('jumbotron.jpg')%>'); margin-bottom: 0px;">
    <div class="container text-center">
      <h1><%= t('.marketingspeech')%></h1>
      <p><%= t('.speech')%></p>
      <p><%= link_to "#{t('.registerrestaurant') if user_signed_in?}#{t('.signuptoday') unless user_signed_in? } #{icon('check-circle-o')}".html_safe, new_restaurant_path, class: 'btn btn-primary outline white' %></p>
    </div>
  </div>
</div>