<table class = 'table'>
	<th>Username</th>
	<th>Name</th>
	<th>Email</th>
	<th>Location</th>
<% @users.each do |user| %>
	<tr>
		<td><%= user.username%></td>
		<td><%= user.name %></td>
		<td><%= user.email %></td>
		<td><%= user.location %></td>
	</tr>
<% end%>
</table>