<% if @err.blank? %>
  $('#myModal').modal("hide")
  $('#food_area').html("<%= j render(@food) %>")
<% else %>
  $('#food_alert_area').html("<div class='alert alert-danger'><%= @err.html_safe %></div>")
<% end %>  