<div class="container resto-container">
  <div class="row" style="margin-bottom: 20px;">
    <%= image_tag('manginasal.jpg', width: '750', class: 'img-responsive', style: 'margin-bottom: 10px;') %>
    <div class="col-md-12">
      <h2><%= @restaurant.name %></h2>
      <p><%= icon('map-marker', @restaurant.address, style: 'margin-right: 12px;') %><%= icon('phone', @restaurant.contact, style: 'margin-left: 20px; margin-right: 10px;') %></p>
    </div>
  </div>
</div>

<div class="container resto-container">
  <h3>Menu</h3>
  <p>foodz here</p>
  <p>foodz here</p>
  <p>foodz here</p>
  <p>foodz here</p>
</div>

<div class="container resto-container">
  <h3>Maps</h3>
</div>

<div class="container resto-container">
  <h3>Pictures from customers</h3>
</div>

<div class="container resto-container" style="margin-bottom: 60px;">
  <h3>Ratings and Reviews</h3>
</div>