// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rating {
  font-family: 'Baloo Bhai', cursive;
  font-size: 20px;
}

.slider-selection {
  background: #c7c7c7;
}
.slider-handle {
  background: #CF2228;
  border: 3px solid #c7c7c7;
}
.slider-horizontal{
  width: 100%!important;
}

ul.list-unstyled{
  li.active a {
    color: #222;
  }
  
  li a {
    color: #888;
  }
}

#restaurants.container, .search_result, #new_restaurants.container {
  .list-group.restos {
    .list-group-item {
      border-radius: 0;
      border: 0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: #fff;
      &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #fff;
      }
      &:active {
        background-color: #fff;
      }
    }
  }
}


@media screen and (min-width: 992px) {
  .search_container {
    width: 50%;
  }
}
@media screen and (max-width: 992px) {
  .search_container {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .search_container {
    width: 100%;
  }
}


.bg {
  position: fixed;
  width: 100%;
  height: 100vh; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
//  -webkit-filter: blur(5px);
//  -moz-filter: blur(5px);
//  -o-filter: blur(5px);
//  -ms-filter: blur(5px);
//  filter: blur(5px);
}

.jumbotron_search {
  height: 100vh;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}