body {
  font-family: 'Abel', sans-serif;
//  background-color: whitesmoke;
  color: #676767;
  height: 100%;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto;
}

textarea {
  resize: vertical;
}

#main-nav .navbar-nav {
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}

a {
  color: #CF2228;
  &:hover {
    color: #9f191e;
  }
}

//#top-nav {
//  background-color: white;
//}



#top-nav.affix-top {

  background: none;
  color: white;
  border: 0;
  a {
    color: #fff;
  }
  li.active {
    a {
      border-bottom: 2px solid #fff;
      background: none;
    }
  }

  li.dropdown a {
    &:focus {
      background: none;
    }
  }
  li ul.dropdown-menu {
    a {
      color: #000;
    }
  }

}

#top-nav {
  border-bottom: 2px solid #CF2228;
  li a {
    text-transform: uppercase;
  }
  li.active {
    a {
      border-bottom: 2px solid #CF2228;
      background: none;
    }
  }
}

#top-nav.affix {
  top: 0;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  border-radius: 0px;
  border: 0;
  border-bottom: 2px solid #CF2228;
  + .bg + .bg + .bg + .bg + .bg + .bg + .container {
    padding-top:50px
  }
  + div + .bg + .bg + .bg + .bg + .bg + .bg + .container {
    padding-top:50px
  }
//  #padded_container {
//    padding-top: 50px;
//  }
  li.active {
    a {
      border-bottom: 2px solid #CF2228;
      background: none;
    }
  }
}

@media screen and (max-width: 768px) {
  #top-nav.affix{
    .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }
    .navbar .navbar-collapse {
      text-align: center;
      position: absolute;
      background-color: whitesmoke;
      width: 100%;
      z-index: 5;
    }
  }
  
}

.search_container a {
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
  }
  &:focus {
    text-decoration: none;
    color: #fff;
  }
}
      /* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -400px;
}

/* Set the fixed height of the footer here */
#footer {
  margin-top: 30px;
  .container {
    .row{
      .footer_title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 30px;
      }
      .footer_body {
        ul li{
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #footer {
    .container {
      text-align: center;
      ul {
        margin-bottom: 30px;
      }
    }
  }
}
.floating_alert {
    position: absolute;
    top: 60px;
    left:50%;
    -webkit-transform:translate(-50%, 0);
  /* centeres automatically */
    z-index: 5000;
}



//forms

.form-control:focus {
  border-color: #ea9a9d!important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.btn:focus, .btn:active {
   outline: none !important;
}



// buttons
textarea.form-control, input.form-control, .btn {
  border-radius: 0px!important;
//  height: 40px;
}

select.form-control {
  border-radius: 0px; 
  -webkit-appearance: none;
}

.btn-danger {
  text-transform: uppercase;
  font-weight: 700;
  background-color: #CF2228;
  border: 2px solid #CF2228;
}

.btn-primary {
  border-color: #CF2228;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #CF2228;
  &:hover {
    background-color: #ab2a2f;
    border-color: #ab2a2f;
  }
  &:active, &:focus {
    background-color: #CF2228!important;
    border-color: #CF2228!important;
  }
}

.btn-facebook {
  border: 2px solid #3b5998;
  color: #fff;
  background-color: #3b5998;
  &:hover {
    color: #fff;
    background-color: #28447e;
    border: 2px solid #28447e;
  }
  &:focus {
    border: 2px solid #3b5998;
    color: #fff;
    background-color: #3b5998;
  }
}

.btn-primary.outline {
  background: none;
  border: 2px solid #CF2228;
  color: #CF2228;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary.outline {
	color: #ab2a2f;
	border-color: #ab2a2f;
  background: none!important;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #CF2228;
	color: #CF2228;
	box-shadow: none;
  background: none!important;
}

.btn-primary.outline.white {
  background: none;
  padding: 12px 22px;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-primary.outline.white:hover, .btn-primary.outline.white:focus, .btn-primary.outline.white:active, .btn-primary.outline.white.active, .open > .dropdown-toggle.btn-primary.outline.white {
	color: #e8e8e8;
	border-color: #e8e8e8;
  
}
.btn-primary.outline.white:active, .btn-primary.outline.white.active {
	border-color: #fff;
	color: #fff;
	box-shadow: none;
}




.modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; 
}

#nprogress .bar{
  background: #e86a6e;
}

#nprogress .peg {
  box-shadow: 0 0 10px #e86a6e, 0 0 5px #e86a6e;
}


.ellipsified {
    display: block;
    overflow: hidden; /* to hide anything that doesn't fit in the containing element. */
    white-space: nowrap; /* to make sure the line doesn't break when it is longer than the containing div. */
    text-overflow: ellipsis; /* convert the long text to ellipsis */
}