#dashboard-owner {
  @media (min-width: 992px) {
    .navbar-collapse {
      height: auto;
      border-top: 0;
      box-shadow: none;
      max-height: none;
      padding-left:0;
      padding-right:0;
      
    }
    .navbar-collapse.collapse {
      display: block !important;
      width: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }
    .navbar-collapse.in {
      overflow-x: visible;
    }

    .navbar, .navbar-default
    {
      .navbar-header{
        background-color: #a31a1f;
//        margin-bottom: 20px;
      }
      max-width:300px;
      margin-right: 0;
      margin-left: 0;
      position: relative;
      padding-bottom: 10000px;
      margin-bottom: -20000px;
      height: 100%;
      overflow: hidden;
      background-color: #404040;
      border: none;
      border-radius: 0;
      li.active a{
        background-color: #292929!important;
        border-left: 2px solid #cf2228;
      }
      a {
        color: #fff!important;
      }
      li a {
        color: #fff!important;
      }
    }	

    .navbar-nav,
    .navbar-nav > li,
    .navbar-left,
    .navbar-right,
    .navbar-header
    {float:none !important;}

    .navbar-right .dropdown-menu {left:0;right:auto;}
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
  }
}

.table {
  border-radius: 20px;
  thead {
    tr {
      th {
        border: none;
        color: white;
      }
    }
  }
}

div.thumbnail_panel {
 
  a {
    .thumbnail {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    color: #fff;
    &:hover {
      text-decoration: none;
      .thumbnail {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
  }
}

.pending_pic {
  .thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}


