.resto-container {
  margin-top: 20px; 
  max-width: 1000px; 
  background-color: #fff;
}

.btn-add-pic {
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border: none;
  background-color: #dddddd;
}

.fileUpload {
  position: relative;
  overflow: hidden;
//  width: 150px;
//  height: 150px;
//  padding: 55px 0 55px 0;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.pic-row {
  width: 100%;
  .col-md-3 { // for restaurant page
    height: 150px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  .col-md-2 { // for owner page
    height: 150px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}




fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 



iframe {
  height: 250px!important;
  width: 250px!important;
}

div.list-group.nearbys {
  a {
    border: none;
  }
}

.panel {
  border-radius: 0px;
  border: none;
  .panel-heading {
    border-radius: 0px;
    border: 1px solid #CF2228;
  }
  .panel-body{
    border: 1px solid #e8e8e8;
  }
}

ul.filters {
  li.active {
    a {
      color: #CF2228;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  li {
    a{
      color: #b8b8b8;
    }
  }
}

#sidebar {
  .list-group {
    .list-group-item {
      background-color: #f9f9f9;
      border-radius: 0;
      &:hover {
        color: #fff;
        background-color: #CF2228;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #sidebar {
    display: none;
  }
}


.btn.btn-like-comment[disabled] {
  -o-transition:color .4s ease-out, background .4s ease-in;
  -ms-transition:color .4s ease-out, background .4s ease-in;
  -moz-transition:color .4s ease-out, background .4s ease-in;
  -webkit-transition:color .4s ease-out, background .4s ease-in;
  transition:color .4s ease-out, background .4s ease-in;
  &:hover {
    color: gray;
    background-color: #ddd;
  }
}

.btn.btn-like-comment {
  background-color: whitesmoke;
  color: gray;
  padding: 1px 5px;
  -o-transition:color .4s ease-out, background .4s ease-in;
  -ms-transition:color .4s ease-out, background .4s ease-in;
  -moz-transition:color .4s ease-out, background .4s ease-in;
  -webkit-transition:color .4s ease-out, background .4s ease-in;
  transition:color .4s ease-out, background .4s ease-in;
  &:hover {
    color: #fff;
    background-color: #CF2228
  }
}
